<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CarList</title>
</head>
<body>
<form action="{% url 'filter' %}" method="get">
    <div>
        <h3>Производитель</h3>
        <ul>
            {% for car in view.get_car %}
            <li>
                <input type="checkbox" name="manufacturer" value="{{ car.manufacturer }}">
                <span>{{ car.manufacturer }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>Трансмиссия</h3>
        <ul>
            {% for car in view.get_car %}
            <li>
                <input type="checkbox" name="transmission" value="{{ car.transmission }}">
                <span>{{ car.transmission }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit">Найти</button> <br>
</form>

    <div>
        <form action="" method="get">
            {{ form.as_p }}

        </form>
        <table border="1">
            {% for car in view.object_list %}
            <tr>
                <td>{{ car.manufacturer }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.transmission }}</td>
                <td>{{ car.color }}</td>

            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>